[defaults]
collections_path = ./collections
callbacks_enabled = llx.lliurex.acipu
interpreter_python = /usr/bin/python3 -B
module_utils_args = -B

[callback_acipu]
url = https://rockyforeman.forelab.lan:6666


